main>section{
    margin: 0 50px;
}

header nav .valgtSide, #mobilDropDownMeny .valgtSide {
    color: #da0000;
}

#sideTittel {
    margin: 20px 0 50px;
    padding: 10px;
    border-bottom: solid grey 1px;
}
#sideTittel>div {
    display: flex;
}
#sideTittel h1 {
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
    padding: 10px 20px;
    margin: 50px;
    border-top: solid #1b1b1b 8px;
    border-right: solid #1b1b1b 8px;
    border-top-right-radius: 20px;
}



#kart {
    position: relative;
    margin-bottom: 50px;
}
#kart img {
    width: 100%;
}

#kart .pin {
    background: #da0000;
    display: inline-block;
    height: 15px;
    position: relative;
    width: 40px;
    border-top: 10px #2a2a2a solid;
    transition: 0.5s;
}
#kart .pin:before {
    border-top: 17.5px solid #da0000;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 14.6px;
    width: 0;
    transition: 0.5s;
}
#kart .pin:hover {
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;

}
#kart.pin:before:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
#kart p {
    position: absolute;
    transform: translate(-35%, -260%);
    background-color: #2a2a2a;
    color: white;
    font-weight: 600;
    padding: 5px 10px;
    width: 120px;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
}

#kart #canadaPosisjon {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 23%;
    top: 24%;
}
#canadaPosisjon #canadaPin {
    position: absolute;
    transform: translate(-50%, -140%);
}
#canadaPin>.pin:hover ~ #canadaTekst {
    opacity: 1;
    transition: 0.3s;
}
#kart #texasPosisjon {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 13%;
    top: 36%;
}
#texasPosisjon #texasPin {
    position: absolute;
    transform: translate(-50%, -140%);
}
#texasPin>.pin:hover ~ #texasTekst {
    opacity: 1;
    transition: 0.3s;
}
#kart #miamiPosisjon {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 18.2%;
    top: 38%;
}
#miamiPosisjon #miamiPin {
    position: absolute;
    transform: translate(-50%, -140%);
}
#miamiPin>.pin:hover ~ #miamiTekst {
    opacity: 1;
    transition: 0.3s;
}
#kart #mexicoPosisjon {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 11.8%;
    top: 44%;
}
#mexicoPosisjon #mexicoPin {
    position: absolute;
    transform: translate(-50%, -140%);
}
#mexicoPin>.pin:hover ~ #mexicoTekst {
    opacity: 1;
    transition: 0.3s;
}
#kart #brasilPosisjon {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 29%;
    top: 75.5%;
}
#brasilPosisjon #brasilPin {
    position: absolute;
    transform: translate(-50%, -140%);
}
#brasilPin>.pin:hover ~ #brasilTekst {
    opacity: 1;
    transition: 0.3s;
}
#kart #europaPosisjon {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 49%;
    top: 24%;
}
#europaPosisjon #europaPin {
    position: absolute;
    transform: translate(-50%, -140%);
}
#europaPin>.pin:hover ~ #europaTekst {
    opacity: 1;
    transition: 0.3s;
}
#kart #aserbajdsjanPosisjon {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 60.5%;
    top: 28.5%;
}
#aserbajdsjanPosisjon #aserbajdsjanPin {
    position: absolute;
    transform: translate(-50%, -140%);
}
#aserbajdsjanPin>.pin:hover ~ #aserbajdsjanTekst {
    opacity: 1;
    transition: 0.3s;
}
#kart #midtostenPosisjon {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 62%;
    top: 43%;
}
#midtostenPosisjon #midtostenPin {
    position: absolute;
    transform: translate(-50%, -140%);
}
#midtostenPin>.pin:hover ~ #midtostenTekst {
    opacity: 1;
    transition: 0.3s;
}
#kart #singaporePosisjon {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 80.7%;
    top: 56.5%;
}
#singaporePosisjon #singaporePin {
    position: absolute;
    transform: translate(-50%, -140%);
}
#singaporePin>.pin:hover ~ #singaporeTekst {
    opacity: 1;
    transition: 0.3s;
}
#kart #japanPosisjon {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 89.7%;
    top: 32%;
}
#japanPosisjon #japanPin {
    position: absolute;
    transform: translate(-50%, -140%);
}
#japanPin>.pin:hover ~ #japanTekst {
    opacity: 1;
    transition: 0.3s;
}
#kart #australiaPosisjon {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 90%;
    top: 86%;
}
#australiaPosisjon #australiaPin {
    position: absolute;
    transform: translate(-50%, -140%);
}
#australiaPin>.pin:hover ~ #australiaTekst {
    opacity: 1;
    transition: 0.3s;
}



#gridContainer{
    padding: 50px 50px;
    border-top: dotted black 1px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
#gridContainer h1 {
    grid-column: span 3;
    margin:0;
    margin-bottom: -20px;
}
.gridInnhold {
    background-color: rgb(242, 242, 242);
    border-top-right-radius: 30px;
    position: relative;
    transition: 2s;
}
.baneBilde {
    position: relative;
}
.baneBilde h2 {
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 32px;
    position: absolute;
    height: 45px;
    width: 250px;
    left: 0; right: 0; top: 0; bottom: 0;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.baneBilde img {
    width: 100%;
    filter: brightness(60%);
    border-top-right-radius: 30px;
}
.baneNavn {
    margin: 20px 40px 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.baneNavn p {
    font-size: 18px;
    color: rgb(40, 40, 40);
    margin: 0;
}
.baneNavn img {
    width: 50px;
    height: 30px;
    border: black solid 1px;
}
.infoGrid {
    margin: 0 60px 80px 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.infoGrid h6 {
    margin: 40px 0 5px 0 ;
}
.infoGrid h5 {
    font-size: 16px;
    margin:0;
}
.gridInnhold>a {
    padding-left: 20px; padding-bottom: 20px;
    font-size: 16px;
    color: rgb(75, 75, 75);
    display: block;
    width: 130px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.gridInnhold>a:hover {
    color: #da0000;
}
.gridMellomrom {
    grid-column: span 3;
    height: 40px;
}
